@font-face{
    font-family: shabnam;
    src: url("../font/Shabnam-Bold.eot");
    src: url("../font/Shabnam-Bold.eot?#iefix") format("FontName-opentype"),
    url("../font/Shabnam-Bold.woff") format("woff"),
    url("../font/Shabnam-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
html{
    --first-color: goldenrod;
    --second-color: darkgreen;
    --third-color: grey;
    /* font-size: 8px; */
    --anim-speed: 0.5s;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    margin: 0;
    padding: 0;
    font-family: "shabnam", tahoma;
}

.intro{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    z-index: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.intro .logo-header{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    display: flex;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.logo-header div{
    margin: 0 5px;
}

.logo-header div:nth-child(2){
    color: #bb0826;
}

.logo{
    opacity: 0;
    position: relative;
    bottom: -20px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.active{
    opacity: 1;
    bottom: 0;
    transition: all .3s ease-in;
}

.fade{
    bottom: 150px;
    opacity: 0;
    transition: all .3s ease-in;
}
.home-social{
    position: fixed;
    width: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-icons-list{
    list-style: none;
    padding-left: 0;
}
.social-icons-list li{
    font-size: 2rem;
    padding: 0.2rem 0;
}
.home-social-link{
    color: darkred;
}
.home-social-link:hover{
    color: var(--first-color);
    transition: color 0.5s;
} 
.home{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}
.home-img-profile{
    max-width: 400px;
    font-size: 3rem;
    line-height: 1.7;
    border-radius: 60% 40% 30% 70%;
}
.home-info-name{
    color: var(--first-color);
    position: relative;
}
.home-info-name::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0%;
    background-color: var(--first-color);
    animation: swip-in 1s;
}
@keyframes swip-in{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: gainsboro;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}
.button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.button:active{
    transform: translate(.2rem,.2rem);
}
section{
    width:60%;
    height: 100vh;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
}
.section-title{
    font-size: 2rem;
    color:var(--first-color);
    border-bottom: 2px solid var(--first-color);
    margin-top: 4rem;
}
.about-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.about-img img{
    width: 250px;
    border-radius: 1rem;
}
.about-subtitle , .about-text{
    direction: ltr;
    line-height: 1.8;
    margin-right: 6rem;
}
.skills-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.skills-img img{
    width: 250px;
    border-radius: 1rem;
}
.skilld-body{
    margin-left:6rem ;
}
.skills-info{
    display: flex;
    box-shadow: 0 4px 25px rgba(0,0,0,0.5);
    border-radius: .8rem .8rem .2rem .2rem;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items:center;
    position: relative;
    margin-top:1rem ;
}
.skills-logo{
    color: var(--first-color);
    font-size: 2rem;
  }
.skilld-name-logo{
    display: flex;
    align-items: center;
}
.skills-name-logo *{
    margin-left: 1rem;
}
.skills-bar{
    background-color: var(--first-color);
    height: .25rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.css{
    width: 80%;
}
.html{
    width: 95%;
}
.javascript{
    width: 65%;
}
.python{
    width: 50%;
}
.projects-container{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.images-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.projects-img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: all 1s;
}
.projects-img:hover{
    transform: scale(1.4);
}
.images-wrapper{
    overflow: hidden;
}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.contact-form *{
    font-size: 1.4rem;
    border: 2px solid #000;
    border-radius: .5rem;
    padding: .3rem;
    margin: .3rem;
    direction: ltr;
}
.nav-bar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4rem;
    background-color: #fff;
    z-index: 100;
}
.nav-list ul{
    display: flex;
    list-style: none;
    direction: ltr;
}
.nav-list ul li a{
    text-decoration: none;
    padding: 0 .6rem;
    color: var(--first-color);
    font-size: 1.1rem;
    margin: 0 .4rem;
}
.nav-list ul li a:hover{
    color:darkred;
    transition: color .5s;
}
.nav-list{
    display: flex;
    justify-content: center;
}
@media (max-width:1300px){
    section{
      width: 80%;
      padding: 0 10%;
    }
  
  }
  @media (max-width:1200px){
    section{
      width: 90%;
      padding: 0 5%;
      min-height: 100vh;
    }
  
    .home-img-profile{
      width: 300px;
    }
    .home-info h1{
      font-size: 2.3rem;
    }
    
  }
  @media (max-width:1000px){
    .home-info h1{
      font-size: 2rem;
    }
    
    section{
      height: auto;
    }
    .home-img-profile{
      width: 200px;
    }
  }
  @media (max-width:800px){
    .home , .about-container ,.skills-container{
      flex-direction: column;
      justify-content: center;
    }
    .images-container{
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    section{
      width: 80%;
      padding: 0 10%;
    }
  }
  @media (max-width:600px){
   
    .nav-bar{
      visibility: collapse;
    }
    .home-info h1{
      font-size: 1rem;
      text-align: center;
    }
  }